@model NhanSu.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết phòng ban</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID phòng ban
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Tên phòng ban
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepartmentName"><button type="button" class="btn btn-primary">Chỉnh sửa thông tin</button></a>
    
</div>
