@model NhanSu.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<div style="padding:12px">

<h1>Thêm mới nhân viên</h1>
@* <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02" >Upload</label>
</div> *@
    <form asp-action="Upload" enctype="multipart/form-data">
    
        <div class="input-group mb-3">
            <input type="file" name="file" class="form-control">
            <input type="submit" value="Tải lên" class="btn btn-primary">
        </div>
    </form>
<hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
    <div class="row row-cols-2">
            <div class="form-group mb-2 col">
                <label asp-for="FullName" class="control-label">Tên nhân sự</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 col">
                <label asp-for="Position" class="control-label">Ví trí</label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 col">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 col">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 col">
                <label asp-for="Age" class="control-label">Tuổi</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 col ">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="DepartmentName" class="control-label">Phòng ban</label>
                <select asp-for="DepartmentName" class ="form-control" asp-items="ViewBag.DepartmentName"></select>
            </div>
            <div class="form-group mt-4 col">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
             </div>
</div>
            
              
        </form>
 
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
