@model NhanSu.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Employee</h1>
<hr />

    <form asp-action="Upload" enctype="multipart/form-data">
        <div class="row form-control">
            <label class="col-sm-2">Import data from Excel:</label>
            <input type="file" name="file" class="col-sm-4">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </form>


<div class="row w3-card-4 w3-light-blue" style="padding-top: 26px; border-radius: 12px;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-floating mb-3">
                <input asp-for="FullName" class="form-control" id="floatingFullname" placeholder="Fullname"/>
                <label asp-for="FullName" class="control-label" for="floatingFullname">FullName</label> 
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-3">
                <input asp-for="Address" class="form-control" class="form-control" id="floatingAdress" placeholder="Address"/>
                <label asp-for="Address" class="control-label" for="floatingAdress">Address</label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-3">
                <input asp-for="Age" class="form-control" id="floatingAge" placeholder="Age" />
                <label asp-for="Age" class="control-label" for="floatingAge" >Age</label>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group w3-margin-bottom">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class ="form-control" asp-items="ViewBag.DepartmentID"></select>
            </div>
            <div class="form-group w3-margin-bottom">
                <input type="submit" value="Save" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

<br>

<div>
    <a asp-action="Index" style="text-decoration: none;" class="w3-margin-top"> << Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
